# {{ ansible_managed }}

{% if ferm_variables | bool %}
# Variables
#------------------------------------------------------------------------------
{{ ferm_variables }}

{% endif %}

{% if ferm_functions | bool %}
# Fuctions
#------------------------------------------------------------------------------
{{ ferm_functions }}

{% endif %}

# Rules
#------------------------------------------------------------------------------
{{ ferm_rules }}

{% if ferm_hooks | bool %}
# Hooks
#------------------------------------------------------------------------------

{{ ferm_hooks }}
{% endif %}
