# {{ ansible_managed }}

# Tables management
{% for table_name, table_content in ferm_tables.iteritems() %}
table {{ table_name }} {

{% for chain_name, chain_content in table_content.iteritems() %}
    chain {{ chain_name }} {
        policy {{ chain_content.policy }};

{% for rule in chain_content.rules %}
        {{ rule }}
{% endfor %}
    }
{% endfor %}
}
{% endfor %}

# Add hooks to reload fail2ban rules automaticaly
@hook post "type fail2ban-server > /dev/null && (fail2ban-client ping > /dev/null && fail2ban-client reload > /dev/null || true) || true";
@hook flush "type fail2ban-server > /dev/null && (fail2ban-client ping > /dev/null && fail2ban-client reload > /dev/null || true) || true";
